<div class="row ht-dashboard">
  <div class="col-12">
    <div class="card mb-0 h-100">
      <div class="card-body">
        <div class="row justify-content-center h-100">
          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 align-self-center">
            <img src="assets/images/htfoodlogo.png" class="img-fluid w-100 opacity-50">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <app-top-cards></app-top-cards>
<div class="row">
  <div class="col-lg-7">
    <app-sales-ratio></app-sales-ratio>
  </div>
  <div class="col-lg-5">
    <app-feeds></app-feeds>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <app-top-selling></app-top-selling>
  </div>
</div>
<app-blog-cards></app-blog-cards> -->