<!-- start page title -->
<app-pagetitle title="Edit Content" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
<!-- end page title -->

<div class="row mt-0" *ngIf="contentData">
    <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="general-form-inputs">
            <form [formGroup]="contentForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group mb-4">
                            <label class="text-themeBlack lato-semibold font16 mb-1">Title:</label>
                            <div class="input-group mb-0">
                                <input type="text" formControlName="title" class="form-control auth-input " id="title"
                                    autocomplete="off">
                            </div>
                            <div *ngIf="submitted && f.title.errors" class="invalid-feedback-new">
                                <div *ngIf="f.title.errors.required">Title is required.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="mb-4">
                            <label class="text-themeBlack lato-semibold font16 mb-1">Content:</label>
                            <div class="mb-0">
                                <ckeditor [editor]="Editor" formControlName="content"></ckeditor>
                            </div>
                            <div *ngIf="submitted && f.content.errors" class="invalid-feedback-new">
                                <div *ngIf="f.content.errors.required">Content is required.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group mt-2 text-start">
                    <button type="submit" class="btn btn-primary save-cp-btn">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>